node_modules
artifacts
cache
coverage*
contracts/test*
contracts/SafeMath.sol
contracts/Timelock.sol
contracts/Comp.sol
contracts/GovernorBravoDelegator.sol
contracts/GovernorBravoInterfaces.sol
typechain-types